 apiVersion: networking.k8s.io/v1
 kind: Ingress
 metadata:
   name: python-api-probe-ingress
   annotations:
     traefik.ingress.kubernetes.io/router.entrypoints: web
 spec:
   rules:
   - host: python-api-probe.local  # Replace with your desired internal domain
     http:
       paths:
       - backend:
          service:
            name: python-api-probe-service
            port:
              number: 8080
